---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Unprotected Page</h1>
		<p><a href="/protected2">Protected 1</a></p>
		<p><a href="/protected2">Protected 2</a></p>
	</body>
</html>
